@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameVault</h1>
    <p>Explore the game browser page <a asp-area="" asp-controller="Game" asp-action="Index">here</a>.</p>
</div>
